node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.json
*.md
*.txt
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx
*.sh
*.bat
*.cmd
*.exe
*.dll
*.lib
*.obj
*.o
*.a
*.so